{erl_opts, [debug_info,{include,"include"}]}.
{deps, [{common,{git,"https://github.com/joq62/common.git", {branch,"main"}}},
        {sd,{git,"https://github.com/joq62/sd.git", {branch,"main"}}},
        {nodelog,{git,"https://github.com/joq62/nodelog.git", {branch,"main"}}},
	{config,{git,"https://github.com/joq62/config.git", {branch,"main"}}}
	
        ]}.

{dist_node,[{setcookie, cookie_test},
	    {sname,test}]}.
{relx, [{release, {test_lib, "0.1.0"},
         [test_lib,
	  sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.
{alias, [
    {check, [xref, dialyzer, edoc,
             {proper, "--regressions"},
             {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
]}.

{project_plugins, [rebar3_proper]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper, recon]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{proper_opts, [{constraint_tries, 150}]}.
